<ng-container>
    <button type="button" class="btn btn-outline-primary m-3" (click)="get500Error()">
        Get 500 Error
    </button>
    <button type="button" class="btn btn-outline-primary m-3" (click)="get400Error()">
        Get 400 Error
    </button>
    <button type="button" class="btn btn-outline-primary m-3" (click)="get401Error()">
        Get 401 Error
    </button>
    <button type="button" class="btn btn-outline-primary m-3" (click)="get404Error()">
        Get 404 Error
    </button>
    <button type="button" class="btn btn-outline-primary m-3" (click)="get400ValidationError()">
        Get 400 validation Error
    </button>

    <div class="row mt-5" *ngIf="validationErors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErors">
                {{error}}
            </li>
        </ul>
    </div>
</ng-container>